# ==========================================================
# ENVIRONMENT
# ==========================================================
.env
.env.*

# ==========================================================
# LOG FILES
# ==========================================================
*.log
logs/*.log

# ==========================================================
# DEPENDENCIES
# ==========================================================
vendor/
node_modules/

# ==========================================================
# CACHE
# ==========================================================
__pycache__/
*.cache

# ==========================================================
# IDE
# ==========================================================
.vscode/
.idea/

# ==========================================================
# OPERATING SYSTEM
# ==========================================================
.DS_Store
Thumbs.db
desktop.ini